# Maven build output
target/

# Application Insights logs
applicationinsights.log

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Test output
small-image-test/app.jar
small-image-test/Dockerfile.jlink
small-image-test/Dockerfile.optimizeddistroless
small-image-test/Dockerfile.vanilla
small-image-test/Hello.class
small-image-test/Hello.java
small-image-test/myapp.jar
test-ergonomics/Hello.class
